$main-color: #e98a1d;

// black
$eerie-black: #1a1a1a;
$verified-black: #242424;
$black-wash: #0d0d0d; // main
$kettleman: #616161;

// white
$white: #ffffff;
$doctor: #f9f9f9; // main

// blue
$blue-genie: #646cff; // main
$aquarius-mood-indigo: #535bf2;
$stargate-shimmer: #747bff;
$blue-whale: #213547;
