/* Basic editor styles */
.content,
.ProseMirror {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid $black-wash;

  .focus {
    border-left: 3px solid $black-wash;
    padding-left: 5px;
  }

  ul,
  ol {
    display: block;
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba($kettleman, 0.1);
    color: $kettleman;
  }

  pre {
    background: $black-wash;
    color: $white;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 300px;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba($black-wash, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba($black-wash, 0.1);
    margin: 2rem 0;
  }
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror-selectednode {
  img {
    outline: 2px solid $blue-genie;
  }
}

.react-component-with-content {
  background: #faf594;
  border: 3px solid #0d0d0d;
  border-radius: 0.5rem;
  margin: 1rem 0;
  white-space: pre-line;
  position: relative;

  .label {
    margin-left: 1rem;
    background-color: #0d0d0d;
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .content {
    margin: 2.5rem 1rem 1rem;
    padding: 0.5rem;
    border: 2px dashed #0d0d0d20;
    border-radius: 0.5rem;
  }
}
