/* Basic editor styles */
.content,
.ProseMirror {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid $black-wash;

  * {
    box-sizing: border-box;
    margin: 0;
  }

  .focus {
    border-left: 3px solid rgba($black-wash, 0.1);
  }

  ul,
  ol {
    display: block;
    border-left: 3px solid transparent;
    p {
      border-left: none;
      padding: 0;
    }
  }

  h1 {
    line-height: 70px;
    border-left: 3px solid transparent;
    margin: 20px 0;
    padding: 0 20px;
  }
  h2 {
    line-height: 60px;
    border-left: 3px solid transparent;
    margin: 20px 0;
    padding: 0 20px;
  }
  h3 {
    line-height: 50px;
    border-left: 3px solid transparent;
    margin: 20px 0;
    padding: 0 20px;
  }
  p {
    margin: 20px 0;
    padding: 0 20px;
    line-height: 40px;
    border-left: 3px solid transparent;
  }

  a {
    color: $blue-genie;
    text-decoration: inherit;
    cursor: pointer;
  }
  a:hover {
    color: rgba($blue-genie, 0.8);
  }

  code {
    background-color: rgba($kettleman, 0.1);
    color: $kettleman;
  }

  pre {
    background: $black-wash;
    color: $white;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 300px;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 3px solid rgba($black-wash, 0.1);
    p {
      border-left: none;
    }
  }

  hr {
    border: none;
    border-top: 2px solid rgba($black-wash, 0.1);
    margin: 2rem 0;
  }
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror-selectednode {
  img {
    outline: 2px solid $blue-genie;
  }
}
