.tooltip {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  :hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.plusicon {
  font-size: 40px;
  color: rgba($black-wash, 0.5);
}
